
body {
    background-color: white;
    font-family: 'Muli', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.container {
    background-color: rgba(0, 0, 255, 0.26);
    text-align: center;
    border-radius: 5%;
}

button {
    background-color: rgb(237, 237, 241);
    border: 1px solid green; /* Green border */
}

button:hover {
    background-color: rgb(86, 221, 24);
}